<footer>
  <div class="footer-row">
    <div>
      <p>
        Booking & Inquiries:
        <a href="mailto:admin@collapsepgh.com">admin@collapsepgh.com</a>
      </p>
      <p>
        Mailing List: <a href="https://collapsepgh.com/signup">sign up</a>
    </div>
  </div>
</footer>
