<footer>
  <div class="footer-row">
    <div>
      <p>
        Booking:
        <a href="mailto:booking@collapsepgh.com">booking@collapsepgh.com</a>
      </p>
      <p>
        Other:
        <a href="mailto:info@collapsepgh.com">info@collapsepgh.com</a>
      </p>
    </div>
  </div>
</footer>
