<div id="header-row">
  <a href="/" class="{%- if page.url == '/' -%}nav-current{%- endif -%}">COLLAPSE</a>
  <a href="/about/" class="{%- if page.url == '/about/' -%}nav-current{%- endif -%}">about</a>
  <a href="/events/" class="{%- if page.url == '/events/' -%}nav-current{%- endif -%}">events</a>
  <a href="/archive/" class="{%- if page.url == '/archive/' -%}nav-current{%- endif -%}">archive</a>
</div>