<div id="header-row">
  <a href="/home/" class="{%- if page.url == '/home/' -%}nav-current{%- endif -%}">COLLAPSE</a>
  <a href="/faq/" class="{%- if page.url == '/faq/' -%}nav-current{%- endif -%}">faq</a>
  <a href="/" class="{%- if page.url == '/' -%}nav-current{%- endif -%}">events</a>
  <a href="/archive/" class="{%- if page.url == '/archive/' -%}nav-current{%- endif -%}">archive</a>
</div>