---
layout: layouts/main.njk
title: site COLLAPSEd
description: A SINGLE VOICE HAS BEEN LOST AMONGST THE CLAMOR OF BEING.
permalink: 404.html
---

<h1>404 - Page Not Found</h1>
<p>It appears you've tried to access a page that doesn't exist.</p>
<p>
  That might be your fault, it might be ours, or it could be the result of an
  <a
    href="https://en.wikipedia.org/wiki/Single-event_upset"
    target="_blank"
    rel="noopener noreferrer"
    >extremely rare glitch of cosmic origins</a
  >
  which may never occur again in your lifetime.
</p>
<p>
  In any case, if you're truly lost, please reach out to
  <a href="mailto:admin@collapsepgh.com">admin@collapsepgh.com</a> for assistance.
</p>
