---
layout: layouts/main.njk
title: about COLLAPSE
description: TODO
---

<h1>About COLLAPSE</h1>
<p>
  COLLAPSE is an experimental performance space for art, sound, and community
  events in Pittsburgh.
</p>
<p>
  COLLAPSE is <italic>not</italic> a bar, and does <italic>not</italic> sell alcohol.
</p>
