---
layout: layouts/main.njk
title: upcoming events @ COLLAPSE
description: A SINGLE VOICE WILL SOON RAISE THE CLAMOR OF BEING.
---
{%- block headScripts -%}
<script src="https://tix.collapsepgh.com/widget.js" defer></script>
{%- endblock -%}

<h1>Upcoming Events</h1>

{%- if collections.upcomingevents | length > 0 -%}
  {%- for event in collections.upcomingevents -%}
    {%- include "event-card.njk" -%}
  {%- endfor -%}
{%- else -%}
  <p>None yet announced.. stay tuned.</p>
{%- endif -%}

{%- block bodyScripts -%}
<script src="/assets/popup.js" defer></script>
{%- endblock -%}