---
layout: layouts/main.njk
title: FAQ about COLLAPSE
description: Frequently-asked questions about COLLAPSE.
---

<h1>FAQ</h1>

<h4>What is COLLAPSE?</h4>
<p>
  COLLAPSE is an experimental, volunteer-run, DIY performance space in Pittsburgh, PA.
</p>

<h4>Is COLLAPSE a bar? Does COLLAPSE serve alcohol?</h4>
<p>No and no. Events are 21+ and BYOB-only unless otherwise stated.</p>

<h4>Where is COLLAPSE?</h4>
<p>COLLAPSE is located in Pittsburgh's East End, in the East Liberty / Larimer area. The address is provided to ticketholders via email on the day of the event.</p>

<h4>Where do I park?</h4>
<p>Street parking is available within a few minutes walk of the venue. Detailed parking information is sent to ticketholders via email on the day of the event.</p>

<h4>Can I bike or take the bus?</h4>
<p>Yes, both are encouraged! Bikes can be locked up directly in front of the building, and multiple bus lines stop within a few minutes walk of of the venue. Detailed bus information is sent to ticketholders via email on the day of the event.</p>

<h4>Can I book an event at COLLAPSE?</h4>
<p>Please reach out to <a href="mailto:admin@collapsepgh.com">admin@collapsepgh.com</a> with booking requests / inquiries.</p>

<h4>Can I volunteer? How can I contribute?</h4>
<p>Absolutely! Reach out to <a href="mailto:admin@collapsepgh.com">admin@collapsepgh.com</a> to join our volunteer list or discuss your own ideas for contributing to the improvement of the space.</p>

<h4>Can I donate?</h4>
<p>Yes! Donate an amount of your choosing <a href="https://collapsepgh.com/donate">here</a>, or reach out to <a href="mailto:admin@collapsepgh.com">admin@collapsepgh.com</a> if you'd like to make a cash, equipment, or other form of donation.</p>