---
layout: layouts/faq.njk
title: FAQ about COLLAPSE
description: Frequently-asked questions about COLLAPSE.
faqs:
  - question: "What is COLLAPSE?"
    answer: "COLLAPSE is an experimental, volunteer-run, DIY performance space in Pittsburgh, PA"
  - question: "Can I purchase alcohol?"
    answer: "No, COLLAPSE is not a bar and does not serve alcohol. Events are 21+ and BYOB-only unless otherwise stated. Visibly intoxicated guests will not be permitted entry."
  - question: "Where is COLLAPSE?"
    answer: "COLLAPSE is located in Pittsburgh's East End, in the East Liberty / Larimer area. The address is provided to ticketholders via email."
  - question: "Where do I park?"
    answer: "Street parking is available within a few minutes walk of COLLAPSE. Detailed parking information is sent to ticketholders via email."
  - question: "Can I bike or take the bus?"
    answer: "Yes, both are encouraged! Bikes can be locked up directly in front of the building, and multiple bus lines stop within a few minutes walk of COLLAPSE. Detailed bus information is sent to ticketholders via email."
  - question: "Can I book an event at COLLAPSE?"
    answer: "Please reach out to <a href='mailto:admin@collapsepgh.com'>admin@collapsepgh.com</a> with booking requests / inquiries."
  - question: "Can I volunteer? How can I contribute?"
    answer: "Absolutely! Reach out to <a href='mailto:admin@collapsepgh.com'>admin@collapsepgh.com</a> to join our volunteer list or discuss your own ideas for contributing to the improvement of the space."
  - question: "Can I donate?"
    answer: "Yes! Donate an amount of your choosing <a href='https://collapsepgh.com/donate'>here</a>, or reach out to <a href='mailto:admin@collapsepgh.com'>admin@collapsepgh.com</a> if you'd like to make a cash, equipment, or other form of donation."
---

Have a question that's not answered below? Contact us at <a href="mailto:admin@collapsepgh.com">admin@collapsepgh.com</a> and we'll get back to you.