---
layout: layouts/base.njk
title: COLLAPSE
description: TODO
extraScript: /assets/homepage.js
---

<div id="hero">
  <div id="wrapper">
    <div id="bg-text"></div>
    <canvas id="screen"></canvas>
  </div>
</div>
