---
layout: layouts/base.njk
title: COLLAPSE
description: A SINGLE VOICE RAISES THE CLAMOR OF BEING.
---
<div id="wrapper">
<canvas id="canvas-secret"></canvas>
</div>
{%- block bodyScripts -%}
<script src="/assets/secret.js" defer></script>
{%- endblock -%}
