---
layout: layouts/main.njk
title: COLLAPSE Mailing List
description: YOUR SINGLE VOICE JOINS THE CLAMOR OF BEING.
---

<div class="signup-page">
  <form id="signup-form">
    <input type="text" id="firstName" placeholder="First name" required />
    <input type="text" id="lastName" placeholder="Last name" required />
    <input type="email" id="email" placeholder="you@example.com" required />
    <button type="submit">Subscribe</button>
  </form>

  <p id="signup-message"></p>
</div>

{%- block bodyScripts -%}
<script src="/assets/signup.js" defer></script>
{%- endblock -%}
